@import "./variables.scss";

.blogs {
    .blog-card {
        .card-body {
            @include media-down(sm) {
                padding: 10px;
            }
        }

        .card-img-top {
            width: 100%;
            max-height: 200px;
            overflow: hidden;
            object-fit: cover;
        }

        .card-title {
            @include media-down(sm) {
                font-size: 16px;
            }
        }

        .card-des {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            @include media-down(sm) {
                font-size: 12px;
            }
        }
    }
}

.blog-detail {
    .title {
        font-size: 32px;
    }

    .progressbar {
        li {
            font-size: 13px;

            &::before {
                width: 15px;
                height: 15px;
                z-index: 2;
            }

            &:not(:last-child) {
                margin-bottom: 24px;
            }

            &:not(:first-child)::after {
                width: 2px;
                height: 44px;
                background-color: #989898;
                z-index: 1;

                left: 7px;
                bottom: 10px;
            }

            &.active:after, &.complete:after {
                background-color: #FFC700;
            }
        }
    }
}