.trading-pair {
    width: 100%;
    margin-top: -1px;
}

.trading-pair-body {
    background-color: #fff;
}

.trading-pair-content {
    background-color: #989898;
    margin: 0;
    min-width: 0;
    display: grid;
    grid-gap: 1px;

    grid-template-columns:  1fr  minmax(253px, 320px);
    grid-template-rows: 74px 300px minmax(160px, auto) minmax(260px, auto);
    grid-template-areas:
        "  subHeader market "
        "  chart market "
        "  chart trades "
        "  orderform trades "
}

.trading-pair-left {
    height: 100%;
    width: 100%;
    grid-area: left / left / left / left;
    background-color: #fff;
    border-top: 1px solid $span;
}

.trading-pair-right {
    height: 100%;
    width: 100%;
    grid-area: right / right / right / right;
    background-color: #fff;
    border-top: 1px solid $span;
}

.trading-pair-head {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    height: 100%;
    width: 100%;
    grid-area: subHeader / subHeader / subHeader / subHeader;
    font-size: 14px;
    color: rgb(234, 236, 239);
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    border-top: 1px solid #989898;

    .left {
        width: 100%;
        display: flex;
        align-items: center;

        .childrenContainer {
            display: flex;
            flex-direction: column;
            padding-right: 24px;
            margin-right: 24px;
            border-right: 1px solid #989898;

            h1 {
                font-weight: 700;
                font-size: 16px;
                color: #333333;

            }

            svg {
                width: 14px;
            }

            a {
                color: #989898;
                white-space: nowrap;
                text-decoration: underline;
            }
        }

        .nowPrice {
            .showPrice {
                color: #EF3B38;
                font-weight: 400;
                font-size: 14px;

            }

            .subPrice {
                color: #333333;
                font-weight: 400;
                font-size: 12px;
            }
        }

        .tickerListContainer {
            display: flex;
            flex-flow: row nowrap;
            box-sizing: border-box;
            -webkit-box-align: center;
            align-items: center;
            position: relative;
            margin-left: 32px;
            margin-right: 8px;
            overflow: hidden;

            .tickerList {
                white-space: nowrap;
                overflow: auto hidden;

                >div {
                    display: inline-block;
                    padding-right: 1.4vw;
                }

                .tickerItemLabel {
                    font-size: 10px;
                    margin-right: 0px;
                    margin-bottom: 2px;
                    color: $span;
                    line-height: 16px;
                    font-weight: 400;
                    text-align: left;
                    border-bottom: 1px solid transparent;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }

                .tickerPriceText {
                    color: $text;
                    font-size: 12px;
                }
            }
        }
    }

    .header-guide {
        display: flex;
        align-items: center;

        svg {
            width: 13px;
            height: 13px;
        }

        span {
            color: $span;
        }
    }
}

.trading-pair-orderbook {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    height: 100%;
    grid-area: orderbook / orderbook / orderbook / orderbook;
    position: relative;
    background-color: #fff;

    .orderbook-ask {
        padding: 12px;

        .orderbook-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 12px;
            position: relative;

            .orderbook-header-tips {
                display: flex;
                align-items: center;

                button {
                    height: 24px;
                    appearance: none;
                    user-select: none;
                    cursor: pointer;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    font-weight: 500;
                    text-align: center;
                    text-decoration: none;
                    outline: none;
                    line-height: 20px;
                    border: none;
                    border-radius: 2px;
                    width: 24px;
                    height: 24px;
                    background-color: transparent;
                    opacity: 1;
                    flex: 1 1 0%;
                    margin-right: 8px;
                    opacity: 0.6;
                }
            }

            .orderbook-tickSize {
                display: flex;
                align-items: center;

                .tick-content {
                    display: flex;
                    align-items: center;

                    .label {
                        color: $span;
                        font-weight: 300;
                        font-size: 10px;
                    }

                    svg {
                        width: 20px;
                        opacity: 0.6;
                    }
                }

                .orderbook-contorl-overlay {
                    svg {
                        width: 20px;
                        opacity: 0.6;
                    }
                }
            }
        }
    }

    .orderbook-bid {
        padding: 12px;

        .sort-item-label-price {
            font-size: 16px;
            font-weight: 300;
        }
    }
}

.trading-pair-chart {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    height: 100%;
    grid-area: chart / chart / chart / chart;
    position: relative;
    background-color: #fff;
}

.trading-pair-orderform {
    box-sizing: border-box;
    margin: 0px;
    margin-top: -1px;
    min-width: 0px;
    grid-area: orderform / orderform / orderform / orderform;
    background-color: #fff;

    .tab-orderform {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $secondary;

        .tabs-list {
            border: unset;

            .nav-item {
                .nav-link {
                    color: $text;
                    font-weight: 400;
                    font-size: 16px;
                    height: 56px;
                    min-width: 120px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: unset;

                    &.active {
                        border-top: 1px solid $primary;
                    }
                }
            }
        }

        .tabs-right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 6px;
            cursor: pointer;

            svg {
                width: 26px;
            }
        }
    }

    .tab-content-1 {
        width: 100%;
        min-height: 200px;
        padding: 12px;
    }

    .tab-links {
        display: flex;
        align-items: center;
        margin-right: 16px;

        .tab-link-item {
            svg {
                width: 20px;
            }
        }
    }

    .orderform {
        padding: 16px 0 0;

        .form-label {
            font-size: 16px;
            line-height: 24px;
        }

        .form-control {
            text-align: end;
        }
    }
}

.trading-pair-trades {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    height: 100%;
    grid-area: trades / trades / trades / trades;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    background-color: #fff;
    z-index: auto;
    position: relative;
    overflow: hidden;

    .tabs-header {
        display: flex;
        padding: 16px 0 12px;

        .tab-label {
            color: $span;
            font-weight: 300;
            font-size: 12px;
            text-decoration: unset;

            &.active {
                color: $primary;
            }
        }
    }
}

.trading-pair-market {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    height: 100%;
    grid-area: market / market / market / market;
    background-color: #fff;
    border-top: 1px solid #989898;

    .marketWrap {
        padding: 12px;
        overflow: hidden;

        .wrap-input {
            margin: 4px 0px 0px;
            min-width: 0px;
            display: inline-flex;
            align-items: center;
            height: 26px;
            flex: 1 1 0%;
            border: none;
            width: 100%;
            border-radius: 4px;
            background-color: #EEF2F6;
            position: static;

            .bn-input-prefix {
                margin-top: -3px;
                margin-left: 6px;
                flex-shrink: 0;
                margin-right: 4px;

                svg {
                    box-sizing: border-box;
                    margin: 0px;
                    min-width: 0px;
                    color: rgb(94, 102, 115);
                    font-size: 20px;
                    fill: rgb(94, 102, 115);
                    width: 16px;
                    height: auto;
                }
            }

            input {
                font-size: 12px;
                margin-top: -2px;
                width: 100%;
                height: 18px;
                border-radius: 4px;
                background-color: unset;
            }
        }

        .box-wrap-search-currency {
            position: relative;
            display: flex;
            align-items: center;

            .starFilledD svg {
                width: 11px;
                height: 11px;
            }

            .tabBtn {
                color: $span;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                font-size: 12px;
                padding: 4px;
                border-radius: 2px;
            }

            .rightArrow {
                position: absolute;
                cursor: pointer;
                width: 24px;
                right: -1px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                svg {
                    width: 20px;
                }
            }
        }
    }


}

.trading-pair-marketActivity {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    grid-area: marketActivity / marketActivity / marketActivity / marketActivity;

    .market-header {
        padding: 12px;
        overflow: hidden;

        .collapse-icon {
            cursor: pointer;

            svg {
                width: 24px;
                opacity: 0.6;
            }
        }

        .box-wrap-filter {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .starFilledD svg {
                width: 11px;
                height: 11px;
            }

            .tabBtn {
                color: $span;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                font-size: 12px;
                padding: 4px;
                border-radius: 2px;
            }

            .rightArrow {
                position: absolute;
                cursor: pointer;
                width: 24px;
                right: -1px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                svg {
                    width: 20px;
                }
            }
        }
    }
}

.trading-pair-orderHis {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #fff;
    grid-area: basictable / basictable / basictable / basictable;
    font-size: 14px;
    flex-direction: column;
    overflow: hidden;
    margin-top: -2px;
    padding-top: 24px;

    .tab-orderform {
        .tabs-list {
            border-bottom: 1px solid $span;

            .nav-item {
                .nav-link {
                    color: $text;
                    border: unset;
                    border-bottom: 1px solid $span;

                    &.active {
                        color: $primary;
                    }
                }
            }
        }
    }

    .tab-content {
        &-open-order {
            min-height: 150px;
        }
    }
}

.table-trade-info {
    width: 100%;

    .table-head {
        display: flex;
        margin-bottom: 10px;

        .sort-item-wrap {
            display: flex;
            align-items: center;

            .sort-item-label {
                color: $span;
                font-size: 10px;
                font-weight: 300;
            }

            svg {
                width: 16px;
            }

            &:nth-child(1) {
                flex: 5 1 0px;
            }

            &:nth-child(2) {
                flex: 3 1 0px;
            }

            &:nth-child(3) {
                flex: 5 1 0px;
            }
        }
    }

    .table-content {
        .fixed-size-list {
            position: relative;
            max-height: 270px;
            overflow: auto;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .content {
            display: flex;
            box-sizing: border-box;
            height: 100%;
            font-size: 12px;
            color: rgb(132, 142, 156);
            text-decoration: none;
            cursor: pointer;
            z-index: 1;

            .item {
                display: flex;
                align-items: center;
                min-width: 50px;
                color: $span;
                font-weight: 300;
                font-size: 10px;
                line-height: 20px;

                &:nth-child(1) {
                    flex: 5 1 0px;
                }

                &:nth-child(2) {
                    flex: 3 1 0px;
                }

                &:nth-child(3) {
                    flex: 5 1 0px;
                }

                .favorite {
                    width: 14px;
                    height: 14px;
                    display: flex;
                    align-items: center;
                    padding-right: 2px;
                    color: $span;
                }

                .item-symbol-text {
                    display: flex;
                    align-items: center;
                }

                .market-multiple {
                    padding-left: 4px;
                    padding-right: 4px;
                    height: 13px;
                    font-size: 10px;
                    line-height: 13px;
                    border-radius: 2px;
                    margin-left: 4px;
                    font-weight: 400;
                    color: rgb(240, 185, 11);
                    cursor: inherit;
                    background-color: rgb(60, 38, 1);
                }

                .item-price-text {
                    display: flex;
                    align-items: center;
                }

                .item-color-buy {
                    color: rgb(14, 203, 129);
                }
            }
        }
    }

    .process-container {
        position: relative;

        .progress-bar {
            position: absolute;
            top: 0;
            right: 0px;
            z-index: 1;
            height: 100%;
            width: 100%;
            left: 100%;
        }

        .ask-bar {
            background: rgba(239, 59, 56, 0.3);
        }

        .bid-bar {
            background: rgba(38, 166, 112, 0.3);
        }
    }
}

//  Mobile 
.trading-pair-mobile {
    padding: 0 15px 48px;

    .trading-info {
        width: 100%;
        display: flex;

        .childrenContainer {
            display: flex;
            flex-direction: column;

            h1 {
                font-weight: 700;
                font-size: 16px;
                color: #333333;

            }

            svg {
                width: 14px;
            }

            a {
                color: #989898;
                white-space: nowrap;
                text-decoration: underline;
            }
        }

        .nowPrice {
            .showPrice {
                color: #EF3B38;
                font-weight: 400;
                font-size: 24px;
            }

            .subPrice {
                color: #333333;
                font-weight: 400;
                font-size: 12px;
            }
        }

        .tickerList {
            display: flex;
            flex-flow: row wrap;
            row-gap: 16px;
            justify-content: space-between;
            margin-left: 32px;

            >div {
                display: inline-block;
                padding-right: 1.4vw;
            }

            .tickerItemLabel {
                font-size: 10px;
                margin-right: 0px;
                margin-bottom: 2px;
                color: $span;
                line-height: 16px;
                font-weight: 400;
                text-align: left;
                border-bottom: 1px solid transparent;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            .tickerPriceText {
                color: $text;
                font-size: 12px;
            }
        }

    }

    .trading-chart {
        margin-top: 10px;
    }

    .order-history {
        margin-top: 24px;

        .tab-orderform {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $secondary;

            .tabs-list {
                width: 100%;
                border: unset;
                display: flex;
                flex-flow: row nowrap;
                overflow-x: auto;
                overflow-y: hidden;

                .nav-item {
                    margin-right: 8px;

                    .nav-link {
                        color: $text;
                        font-weight: 400;
                        font-size: 13px;
                        white-space: nowrap;
                        background: transparent;
                        padding-left: 8px;
                        padding-right: 8px;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: unset;

                        &.active {
                            color: $primary;
                        }
                    }
                }
            }

            .tabs-right {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-right: 6px;
                cursor: pointer;

                svg {
                    width: 26px;
                }
            }
        }

        .tab-content-1 {
            width: 100%;
            min-height: 200px;
            padding: 12px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.group-btn-trade-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 72px;
    padding: 8px 15px;
    min-width: 0px;
    width: 100%;
    z-index: 1;
    background-color: rgb(30, 32, 38);

    display: none;
    flex-direction: row;
    align-items: center;

    @include media-down(md) {
        display: flex;
    }

    button {
        word-break: keep-all;
        flex: 1 1 0%;
        height: 40px;
        border-radius: 4px;
        border: none;
    }

    .btn-buy {
        color: white;
        background-color: rgb(14, 203, 129);
        margin-right: 8px;
        &:hover,&:active {
            color: white;
            background-color: rgb(14, 203, 129);
        }
    }

    .btn-sell {
        color: white;
        background-color: rgb(200, 20, 20);
        margin-left: 8px;
        &:hover,&:active {
            color: white;
            background-color: rgb(200, 20, 20);
        }
    }

}