@import "./variables.scss";

.form-label {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 8px;
    width: 100%;

    @include media-down(sm) {
        font-size: 16px;
    }
}

.form-sublabel {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    @include media-down(sm) {
        font-size: 14px;
    }
}

.input-group-password {
    position: relative;

    .togglePassword {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);

        img {
            height: 14px;
        }
    }
}

input {
    font-size: 16px;

    &:focus,
    &:focus-visible {
        border: unset;
        outline: unset;
        box-shadow: unset;
    }

    &::placeholder {
        font-size: 14px;
        font-weight: 300;
        opacity: 1;
    }

    &::-webkit-input-placeholder {
        font-weight: 300;
    }

    &::-moz-placeholder {
        font-weight: 300;
    }

    &:-ms-input-placeholder {
        font-weight: 300;
    }

    &::-ms-input-placeholder {
        font-weight: 100;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
    }
}

.input {
    width: 100%;
    height: 45px;
    padding: 2px 16px;
    background: #FAFAFA;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: unset;
    outline: unset;
    transition: unset;

    &.primary {
        background-color: $primary;
    }

    &.secondary {
        background-color: $secondary;
    }

    &:focus {
        border: unset;
        outline: unset;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    }
}

select {
    -webkit-appearance: none;
}

.up-down-input {
    display: flex;
    align-items: center;

    .sub,
    .plus {
        width: 40px;
        height: 40px;
        background: #FAFAFA;
        border-style: solid;
        border-color: #989898;
        display: flex;
        justify-content: center;
        line-height: 34px;
        cursor: pointer;
    }

    .sub {
        border-radius: 8px 0px 0px 8px;
        border-width: 0.5px 0px 0.5px 0.5px;
    }

    .plus {
        border-width: 0.5px 0.5px 0.5px 0px;
        border-radius: 0px 8px 8px 0px;
    }

    input {
        height: 40px;
        border-style: solid;
        border-width: 1px;
        border-color: #989898 #989898 #989898 #989898;
        text-align: center;
        background-color: $light;
    }
}

.input-group {
    height: 45px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    border: unset;
    background-color: $secondary;
    position: relative;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 2px 16px;

    &.primary {
        background-color: $primary;
    }

    &.secondary {
        background-color: $secondary;
    }

    input {
        width: 100%;
        height: 100%;
        padding: 2px 0;
        box-shadow: unset;
    }

    input,
    input:focus,
    input:valid {
        background: unset;
        box-shadow: unset;
    }

    .input-suffix,
    .input-prefix {
        display: flex;
        align-items: center;
    }

    .form-text {
        color: $error;
        font-size: 12px;
        font-weight: 300;

        position: absolute;
        top: 98%;
        left: 0;
    }

    // select
    select {
        width: 100%;
        height: 100%;
        padding: 2px 0;
        box-shadow: unset;
        background: unset;
        border: unset;
        border-radius: unset;
    }

    select,
    select:focus,
    select:valid,
    :focus-visible {
        outline: unset;
        background: unset;
        box-shadow: unset;
    }

    .arrow-down {
        min-width: 12px;
        height: 8px;
        padding-left: 4px;
    }
}

.form-item {
    width: 100%;
    position: relative;
    margin-bottom: 24px;

    .valid-feedback,
    .invalid-feedback {
        position: absolute;
        top: 100%;
        left: 0;

        color: $error;
        font-size: 12px;
        font-weight: 300;
    }
}

.form-check-input {
    border: 1.5px solid #333333;
}

.form-check-label {
    font-weight: 300;
}

.form-link {
    font-weight: 500;
    color: #333333;
    text-decoration: unset;
    cursor: pointer;
}

.form-countdown {
    color: #333333;
    font-weight: 300;
    font-size: 16px;
}

.box-upload-file {
    color: #989898;
    width: 100%;
    min-height: 356px;
    padding: 24px;
    border: 1px dashed $span;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    .icon-upload {
        max-width: 200px;
        height: auto;
        opacity: 0.2;
    }

    input {
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
    }
}

// select custom template
.select2-container {

    .select2-selection,
    .select2-selection__arrow {
        height: 56px !important;
        right: 10px !important;
    }

    .select2-selection {
        padding: 16px;
        background: #FAFAFA;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        border: unset;

        .select2-selection__rendered {
            padding: 0;
        }
    }

    &.primary {
        .select2-selection {
            background-color: $primary;
        }
    }

    &.secondary {
        .select2-selection {
            background-color: $secondary;
        }
    }
}

.select2-dropdown {
    border: unset;
    background: #FAFAFA;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

    .select2-search {
        border: 1px solid #eaeaea !important;

        &:focus,
        &:focus-within {
            outline: unset !important;
        }
    }
}

// Date
.date {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}