@import "./variables.scss";

.wrap-table {
    overflow: auto;

    .table {
        font-weight: 500;
        font-size: 16px;
        border-radius: 8px;
        overflow: hidden;

        thead {
            tr {
                th {
                    color: $text;
                    font-size: 16px;
                    font-weight: 400;
                    padding: 1rem;
                    background: #EEF2F6;
                    border-bottom: 0.5px solid $span;

                    @include media-down(sm) {
                        padding: 1rem 0.5rem;
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 1rem;
                    vertical-align: middle;

                    @include media-down(sm) {
                        padding: 1rem 0.5rem;
                    }
                }
            }
        }
    }

    .table-empty {
        width: 100%;
        min-height: 130px;

        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;

        img {
            margin-bottom: 8px;
        }
    }
}

.pagination {
    .page-item {}

    .page-item .page-link {
        padding: 0;
        border: unset;
        background: unset;

        &:hover {
            background: unset;
        }

        &:active,
        &:focus {
            box-shadow: unset;
        }
    }

    .page-item:not(:first-child):not(:last-child) .page-link {
        color: #fff;
        width: 24px;
        height: 24px;
        padding: 0;
        margin: 0 8px;
        background: #989898;
        display: flex;
        align-items: center;
        justify-content: center;

        &.active {
            background: linear-gradient(93.76deg, #FFC700 30.42%, #FF9F59 75.73%);
        }
    }
}